<!DOCTYPE html>
<html ng-app='app' lang="en" dir="ltr" >
  <head>
    <meta charset="utf-8">
    <title>Fundamentos de Angular</title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('app',[])
    </script>
  </head>
  <body>
     {{1 + 1}}
  </body>
</html>
